.iw-detail-container {
  width: 80%;
  max-height: 50%;
  font-size: 2rem;
  overflow: scroll
}

.iw-detail-categories, .iw-detail-type  {
  font-weight: 600;
  color: maroon
}


.iw-detail-name {
  font-weight: 700;
  border: 2px black solid;
  padding-left: 10px;
}

.iw-detail-description {
  border: 2px solid olive;
  padding: 5px;
}

.iw-detail-type-icon {
  height: 24px
}

.iw-detail-phone {
  border: 2px solid green;
  padding: 5px;
  margin: 5px
}
.iw-detail-phone > a > span > img {
  height: 1.5rem;
  position: relative;
  top: 2px;
}
.iw-detail-phone > a {
  color: green;
  text-decoration: none;
  font-weight: 500;
}

.iw-detail-websites {
  border: 2px solid darkred;
  padding: 20px;
  margin: 5px;
  word-wrap: break-word
}

.iw-detail-address {
  font-weight: 500;
  border: 2px blue solid;
  padding: 5px;
  margin: 5px
}

.iw-detail-notes {}

ul {
  list-style-image: url('../../images/hearts.svg');
  padding-left: 20px;
}



// COLLAPSIBLE
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

$yellow:  rgb(248, 159, 0);
$cyan:    rgb(0, 172, 157);
$grey:    rgb(51, 51, 51);
$black:   rgb(38, 38, 38);
$base:    rgb(255, 255, 255);
$lightGrey:    rgb(235, 235, 235);

$BASE_FONT_SIZE: 16px;

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;


html {
  font-size: $BASE_FONT_SIZE;
}

@function rem($sizeValue: 1.6) {

  $value: strip-unit($sizeValue / $BASE_FONT_SIZE);

  @return $value + rem;
}

// The main container element
.Collapsible {
  background-color: $base;
  padding: 5px;
}


//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid $lightGrey;
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: $grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: $cyan;
  color: white;


  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;


}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}


