// Guttersnipe
.google-opener {
  width: 80%;
  margin: 20px auto;
  background-color: green;
  color: white;
  font-weight: 900;
  font-size: 115%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid yellow;
  text-align: center
}


