.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.leaflet-popup {
    width: 80vw;
    max-height: 50vh;
}

.leaflet-popup-content > div {
    width: 76vw;
}

.google-opener {
    width: 80%;
    margin: 20px auto;
    background-color: green;
    color: white;
    font-weight: 900;
    font-size: 115%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid yellow;
    text-align: center
}

.iw-detail-container {
    width: 96%;
    max-height: 50%;
    font-size: 1rem;
    overflow: scroll
}

.iw-detail-categories {
    font-weight: 600;
    color: maroon
}

.iw-detail-name {
    font-weight: 700;
    border: 2px black solid;
}

.iw-detail-type-icon {
    height: 24px
}

.iw-detail-phone {
    border: 2px solid green;
    padding: 5px;
    margin: 5px
}
.iw-detail-phone > img {
    height: 24px;
}
.iw-detail-phone > a {
    color: green;
    text-decoration: none;
    font-weight: 500;
}

.iw-detail-websites {
    border: 2px solid darkred;
    padding: 10px;
    margin: 5px;
    word-wrap: break-word
}

.iw-detail-address {
    font-weight: 500;
    border: 2px blue solid;
    padding: 5px;
    margin: 5px
}

.iw-detail-notes {}

.map {
    height: 100%;
    width: 100%;
}

.map-popup-close-btn {
    background-color: darkblue;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 24em;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
}
