// Leaflet
$leaflet_popup_width: 55vw;

.leaflet-popup {
  width: $leaflet_popup_width;
  max-height: 50vh;
}

.leaflet-popup-content > div {
  width: $leaflet_popup_width - 3;
}
.leaflet-container a.leaflet-popup-close-button {
  //  icon: url("./images/hearts.svg");
  font-size: 300%;
  text-align: center;
  font-weight: 900;
  color: black;
  right: 15px;
}

.map {
  height: 100vh;
  width: 100vw;
}

.map-popup-close-btn {
  background-color: red;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 200%;
  padding: 10px;
  margin: 15px auto;
  border: 5px solid black;
  border-radius: 20%;
  max-width: 50%;
}
